@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron">
    <h1 style="color:navy;">FIE - Bases de Datos II</h1>
    <p class="lead">
        Final de Base de Datos II - Donis, Marina.
    </p>
    <h2>Tema</h2>
    <p class="lead">
        Explicar el ORM del framework .NET: qué es, y cuáles son sus características principales.
    </p>
    <img src="https://i0.wp.com/www.andersrodland.com/wp-content/uploads/2017/02/NET-Framework-4.6.2.png?fit=300%2C300&ssl=1" alt="logo" width="100" height="100">
</div>

<div class="row">
    <div class="col-md-6">
        <h2 style="color:navy;">Contactos</h2>
        <p>
            Ver la lista de contactos.
        </p>
        <p><a class="btn btn-default" href="https://localhost:44323/contactos">Contactos &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2 style="color:navy;">Teléfonos</h2>
        <p>
            Ver la lista de teléfonos.        
        </p>
        <p><a class="btn btn-default" href="https://localhost:44323/telefonos">Teléfonos &raquo;</a></p>
    </div>
</div>